body{
    font-family: Arial, sans-serif;
}

.card{
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}

footer{
    margin-top: 50px;
}

.gallery-item{
    height:250px;
    width:100%;
    object-fit:cover;
}

h1{
     color:#0d6efd;
}